@import "../../../assets/common/variable";

.price-list {
  background-color: #f3f9ff;
  padding-top: 60px;
  padding-bottom: 60px;
  
  @media screen and (min-width: $media-sm) {
    padding: 120px 0 130px 0; 
  }
}
