@import "../../../../../assets/common/variable";

.department {
  .customer,
  .security {
    .department {
      &__item-content {
        color: $primary;
      }
    }
  }

  &__item {
    display: grid;
    align-items: center;
    margin: 10px 7px;

    @media screen and (min-width: $media-lg) {
      margin: 10px 20px;
    }

    &-name {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-family: "Manrope";
      font-weight: bold;

      @media screen and (min-width: $media-sm) {
        font-size: 2rem;
      }
    }

    &-content {
      margin: 1rem 0;
      font-size: 1rem;
      color: $gray;
    }

    &-bottom {
      background-color: $primary;
      padding: 0.3rem 1rem;
      width: fit-content;
      color: white;
      border-radius: 0.5rem;
      margin: 0 auto;
    }
  }

  &__item-list {
    display: inherit;
    justify-content: center;

    &--top {
      display: flex;
    }

    &--bottom {
      display: flex;
      justify-content: center;
    }
  }
}
