@import "../../../../assets/common/variable";

.logo {
  display: flex;
  justify-content: space-between;
  
  @media screen and (min-width: $media-lg) { 
    padding-right: 40px;
    padding-top: 3.9rem;
  }

  &__home-menu {
    display: none;

    @media screen and (min-width: $media-lg) { 
      display: flex;
      align-self: baseline;
    }

    span {
      margin-left: 12px;
      font-weight: bold;
      font-size: 14px;
      align-self: center;
    }
  }

  &__image {
    img {
      width: 176px;
    }
  }

  &__company {
    margin: 1rem 0; 
    display: none;

    @media screen and (min-width: $media-lg) {
      margin: 0;
      display: block;
    }

    h1 {
      font-size: 30px;
      font-weight: bold;
      margin: 0;

      @media screen and (min-width: $media-lg) {
        font-size: 56px;
      }
    }
  }
}
