@import "../../../../assets/common/variable";

.menu-service {
  list-style: none;
  color: white;
  display: flex;
  padding:0 0 0.5rem 1rem;
  justify-content: right;
  font-size: 14px; 
  padding-right: 8%;

  &__item {
    cursor: pointer;
    margin-left: 9.8%; 
    word-break: keep-all; 
  }

  &__item:first-child {
    margin-left: 0;
  }

}
