@import "../../../../assets/common/variable";

.menu-service {
  list-style: none;
  color: white;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  justify-content: center;
  font-size: 14px;

  @media screen and (min-width: $media-sm) {
    padding: 0.5rem 0 0.5rem 0.5rem;
    display: flex;
  }

  &__item {
    cursor: pointer;
    margin-left: 30px; 
    word-break: keep-all;

    @media screen and (min-width: $media-sm) {
      margin: 0 60px;
    }
  }

  &__item:first-child {
    margin-left: 0;
  }

}
