@import "../../../../assets/common/variable";

.menu-top {
  padding-top: 14px;
  padding-bottom: 8px;
  background-color: $primary;
  color: white;
  justify-content: right;
  display: flex;
  align-items: center;
  color: $secondaryColor;
  font-size: 14px;
  padding-right: 8%; 

  .form-group {
    margin-bottom: 0;
  }

  &__menu {
    display: content; 
    font-family: "Roboto";
    margin-left: 8%;
  }

  .form-select {
    background: transparent;
    color: white;
    border: none;
    background-image: url("../../../../assets/images/arrown-down.png");
    background-repeat: no-repeat;
    background-position: right 1.25rem center;
    font-size: 14px;
    color: $secondaryColor; 
  }
}
