@import "../../../assets/common/variable";

.banner {
  width: 100%;

  @media screen and (min-width: $media-lg) {
    height: 70vh;
    display: flex;
  }

  @media screen and (min-width: $media-xl) {
    height: 80vh;
    display: flex;
  }

  &-left {
    width: 100%;
    padding: 1rem 0;
    display: block;
    
    @media screen and (min-width: $media-lg) {
      width: 40%;
      padding-left: 5.3125rem;
      display: grid;
    }
  }

  &-right {
    width: 100%;
    text-align: right;

    @media screen and (min-width: $media-lg) {
      width: 60%;
      overflow: hidden;
    }

    &-service {
      background-image: url("../../../assets//images/banner-header.png");
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: cover;
      height: 100%;

      @media screen and (min-width: $media-lg) { 
        padding-top: 24px; 
      }
    }
  }
}
