@import "../../assets/common/variable";

.authenticate-menu {
  .btn-primary {
    background-color: transparent;
    border: none;
    color: $gray;
    padding: 0;
    align-items: center;
    display: flex;

    @media screen and (min-width: $media-sm) {
      background-color: $primary;
      color: white;
    }
  }

  img {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
  }
}
