@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/NotoSans/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSans/NotoSans-Bold.ttf");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Manrope/Manrope-Regular.ttf");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Manrope/Manrope-Bold.ttf");
}
