$primary: #181949;
$secondaryColor: #CFE5FF;
$pink: #FFD1E8;
$gray: #666666;
$grey: #F4F4F4;

$secondText: #374754;
$borderColor: #DEDEDE;


$media-xxs: 360px;
$media-xs: 411px;
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;