@import "../../../../assets/variable";

.department {
  padding-top: 6.5rem;
  padding-bottom: 5.3125rem;
  
  &:nth-child(odd) {
    background-color: $grey;
  }

  img {
    width: 280px;
  }

  &-right, 
  &-left {
    align-self: center;
  }
}
