@import "../../../assets/common/variable";

.footer {
  border-top: 1px solid rgba(153, 153, 153, 0.46);
  background-color: #f3f9ff;
  padding: 1.25rem 0 0 0;

  &-container {
    max-width: 1400px;
  }

  &-email,
  &-address {
    font-family: "DMSans";
  }

  &-email {
    font-size: 14px;
  }

  &-address {
    font-size: 15px;
  }
  
  .indonesia-office,
  .korea-office {
    li {
      font-size: 15px;
    }
  }

  @media screen and (min-width: $media-sm) {
    padding: 0;
  }
}

