@import "../../../assets/variable";

.footer {
  border-top: 1px solid rgba(153, 153, 153, 0.46);
  background-color: #f3f9ff;
  padding: 1.25rem 0 0 0;

  &-container {
    max-width: 1400px;
  }
  @media screen and (min-width: $media-sm) {
    padding: 0;
  }
}
